<% provide(:submit_text, 'Update') %>

<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= pokedexes_path %>">Pokedexes</a></li>
	  <li class="active">Edit</li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Edit Pokedex</div>
	<%= render 'pokedexes/form' %>
</div>