<% provide(:submit_text, 'Create') %>
<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= skills_path %>">Skills</a></li>
	  <li class="active">New</li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">New Skill</div>
	<%= render 'skills/form' %>
</div>