<% provide(:submit_text, 'Update') %>

<div class="row">
	<ol class="breadcrumb">
	  <li><a href="<%= root_path %>">Home</a></li>
	  <li><a href="<%= pokemons_path %>">Pokemons</a></li>
	  <li class="active">Edit</li>
	</ol>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">Edit Pokemon</div>
	<%= render 'pokemons/form' %>
</div>