<div class="row">
	<ol class="breadcrumb">
	  <li class="active">Home</li>
	</ol>
</div>

<div>
	<br><br><br><br><br><br>
	<img src="https://img.pokemondb.net/artwork/jirachi.jpg" class="center-block">
	<h2 class="text-center">Welcome to Pokemon Rainbow</h2>
	<br><br><br><br><br><br>
</div>