<header class="navbar navbar-inverse">
	<div class="container">
		<a href="<%= root_path %>" class="navbar-brand">Home</a>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="<%= pokedexes_path %>">Pokedex</a></li>
			<li><a href="<%= pokemons_path %>">Pokemon</a></li>
			<li><a href="<%= skills_path %>">Skill</a></li>
		</ul>
	</div>
</header>